.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.main-header__title {
  font-style: italic;
  @include mq-max(600px) {
    font-size: 24px;
    text-align: center;
  }
}

.main-header__subtitle {
  font-size: 14px;
  text-align: center;
}